<ion-content class="login-content">
  <div class="login-container">
    <div class="login-form-section">
      <ion-button fill="clear" class="back-button" [routerLink]="['/welcome']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <div class="form-content">
        <h1 class="login-title">Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <label class="input-label">Email</label>
            <input
              type="email"
              class="styled-input"
              formControlName="email"
              placeholder="example@email.com"
              required
            />
          </div>

          <div class="input-group">
            <label class="input-label">Password</label>
            <input
              type="password"
              class="styled-input"
              formControlName="password"
              placeholder="******************"
              required
            />
          </div>

          <div class="forgot-password">
            <a (click)="onForgotPassword()">Forget Password</a>
          </div>

          <button
            type="submit"
            class="signin-button"
            [disabled]="loginForm.invalid"
          >
            Sign in
          </button>
        </form>

        <div class="create-account">
          <a [routerLink]="['/signup']">Create Account</a>
        </div>
      </div>
    </div>

    <div class="pet-images-section">
      <div class="pet-grid">
        <div class="pet-card white-dog"></div>
        <div class="pet-card parrot-top"></div>
        <div class="pet-card tabby-cat"></div>
        <div class="pet-card fluffy-cat"></div>
        <div class="pet-card parrot-bottom"></div>
      </div>
    </div>
  </div>
</ion-content>
